body {
  background-color: #69bdda;
}

p {
  text-align:center;
  color:red;
}

h1 {
  color:blue;
  font-size: 56px;
}

table {
  background-color: RGB(100 100 100);
  color: red;
  border: solid 1px;
  border-color: black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-color: #96D4D4;
}

th {
  color: black;
  background-color: #aeaf8e;
}

td {
  background-color: #ffe803;
  color: green;
}
