{% extends "pamati_sintakse.html" %} {% block content %}
<h1>Saskaitīšanas programma</h1>

{% if rezultats is not none %}
<p>
  Rezultāts saskaitot {{ sk1 }} un {{ sk2 }} ir <strong>{{ rezultats }}</strong>
</p>
<a href="{{ url_for('darbs') }}">Atgriezties</a>
{% else %}
<form method="POST" action="{{ url_for('darbs') }}">
  <input type="number" name="sk1" placeholder="Pirmais skaitlis" required />
  <input type="number" name="sk2" placeholder="Otrais skaitlis" required />
  <input type="submit" value="Saskaitīt" />
</form>
{% endif %} {% endblock %}
