<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mans pirmais HTML dokuments</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Patua+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stils.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <header>
      <nav class="topnav">
        <a href="/" class="active">Sākums</a>
        <a href="par_mums" onclick="atjaunotIetvaru(this); return false;"
          >Par mums</a
        >
        <a href="kontakti" onclick="atjaunotIetvaru(this); return false;"
          >Kontakti</a
        >
        <a href="aptauja" onclick="atjaunotIetvaru(this); return false;"
          >Aptaujas</a
        >
        <a href="pamati_sintakse" onclick="atjaunotIetvaru(this); return false;"
          >Pamati sintakse</a
        >
      </nav>
    </header>
    <aside class="sidebar">
      <a href="#saturs">Saturs</a>
      <a href="#tabula">Tabula</a>
      <a href="#canva">Canva</a>
    </aside>
    <main id="Lapas_saturs">
      <section id="aprekins">
        <h2>Kalkutators</h2>
        <label for="vārds">Vārds</label>
        <input cass="text" type="text" id="vards" name="vards" /><br /><br />
        <label for="x">Ievadi X vērtību</label>
        <input type="number" id="x" /><br />
        <label for="y">Ievadi Y vērtību</label>
        <input type="number" id="y" /><br /><br />
        <button onclick="saskaitit()" class="btn btn-warning">Summa</button>
        <button onclick="atnemt()" class="btn btn-warning">Starpība</button>
        <button onclick="reizinat()" class="btn btn-warning">
          Reizinājums
        </button>
        <button onclick="dalit()" class="btn btn-warning">Dalījums</button
        ><br /><br />
        <p id="rezultats">Šeit būs rezultāts</p>
      </section>
      <section id="konventors">
        <h2>Konventors</h2>
        <br />
        <p>Pārveido no collām uz centimetriem</p>
        <div class="collas">
          <p>Ievadiet vērtību collās:</p>
          <input type="number" id="inchesInput" /><br /><br />
          <button onclick="convertToCm()" class="btn btn-warning">
            Pārveidot
          </button><br><br>
          <p id="result">Centimetros tas ir:</p>
        </div>
        <br />
      </section>
      <br /><br />
      <section id="saturs">
        <h1>Hello World!</h1>
        <p>
          A "Hello, World!" program is usually a simple computer program that
          emits (or displays) to the screen (often the console) a message
          similar to "Hello, World!".
        </p>
        <p class="cits">
          A small piece of code in most general-purpose programming languages,
          this program is used to illustrate a language's basic syntax. Such a
          program is often the first written by a student of a new programming
          language,[1] but it can also be used as a sanity check to ensure that
          the computer software intended to compile or run source code is
          correctly installed, and that its operator understands how to use it.
        </p>
        <img
          src="https://cdn.glitch.global/83edb286-2a81-4e4a-9075-0d4d4dad00f0/cartoon.jpg?v=1744522541090"
          width="300px"
          height="400px"
        />
        <img
          src="https://cdn.glitch.global/83edb286-2a81-4e4a-9075-0d4d4dad00f0/cat.jpg?v=1744526079770"
          width="300px"
          height="400px"
        />
        <img
          src="https://cdn.glitch.global/83edb286-2a81-4e4a-9075-0d4d4dad00f0/owl.jpg?v=1744524908455"
          width="300px"
          height="400px"
        />
        <img
          src="https://cdn.glitch.global/83edb286-2a81-4e4a-9075-0d4d4dad00f0/tom_jerry.jpg?v=1744526654403"
          width="300px"
          height="400px"
        />
        <marquee
          >The program above prints hello, world! on the terminal, including a
          newline character. The phrase is divided into multiple variables
          because in B a character constant is limited to four ASCII characters.
          The previous example in the tutorial printed hi! on the terminal, and
          the phrase hello, world! was introduced as a slightly longer greeting
          that required several character constants for its expression.</marquee
        >
      </section>
      <div class="container">
        <div class="myDiv">
          <h2>1. kolonna</h2>
          <p>Šī ir 1. kolonna</p>
        </div>
        <div class="myDiv">
          <h2>2. kolonna</h2>
          <p>Šī ir 2. kolonna</p>
        </div>
        <div class="myDiv">
          <h2>3. kolonna</h2>
          <p>Šī ir 3. kolonna</p>
        </div>
      </div>
      <section id="tabula">
        <table border="1">
          <tr>
            <th>Pirmais</th>
            <th>Otrais</th>
            <th>Trešais</th>
          </tr>
          <tr>
            <td>2. rinda 1. kolonna</td>
            <td>2. rinda 2. kolonna</td>
            <td>2. rinda 3. kolonna</td>
          </tr>
          <tr>
            <td colspan="2">3. rinda 1. un 2. kolonna</td>
            <td rowspan="2">3. rinda 3. kolonna</td>
          </tr>
          <tr>
            <td>4. rinda 1. kolonna</td>
            <td>4. rinda 2. kolonna</td>
          </tr>
          <tr>
            <td>5. rinda 1. kolonna</td>
            <td>5. rinda 2. kolonna</td>
            <td>5. rinda 3. kolonna</td>
          </tr>
          <tr>
            <td>6. rinda 1. kolonna</td>
            <td>6. rinda 2. kolonna</td>
            <td>6. rinda 3. kolonna</td>
          </tr>
        </table>
        <ol type="a">
          <li>Pirmais elements</li>
          <li>Otrais elements</li>
          <li>Trešais elements</li>
          <li>Ceturtais elements</li>
        </ol>
        <ul type="circle">
          <li class="cits">Pirmais elements</li>
          <li class="cits">Otrais elements</li>
          <li class="cits">Trešais elements</li>
          <li class="cits">Ceturtais elements</li>
        </ul>
        <p>Tabulas noslēguma teksts</p>
        <a href="https://4kwallpapers.com/movies/tom-jerry-cartoon-12447.html"
          >Ej uz citu lapu</a
        ><br /><br />
      </section>
      <section id="canva">
        <canvas id="zimejums" width="800" height="400"></canvas>
        <button onclick="taisnsturis()" class="btn btn-success">
          Taisnsturis
        </button>
        <button onclick="aplis()" class="btn btn-warning">Aplis</button>
        <button onclick="teksts()" class="btn btn-danger">Teksts</button>
        <button onclick="linija()" class="btn btn-primary">Līnija</button>
      </section>
    </main>
    <footer>&copy Mana lapa 2025</footer>
  </body>
</html>
