<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Par mums</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"/>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stils.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <h1>Par mums</h1>
    <p>Esiet sveicināti...</p>
    <div class="profile">
      <img
        src="https://cdn.glitch.global/83edb286-2a81-4e4a-9075-0d4d4dad00f0/wallaper.jpg?v=1744527173855"
        width="50%"
      />
    </div>
    <br /><br />
    <div class="login">
      <form>
        <label for="vārds">Vārds</label>
        <input cass="text" type="text" id="vards" name="vards" /><br /><br />
        <label for="email">e-pasts</label>
        <input type="email" id="email" name="email" /><br /><br />
        <input class="submit_button" type="submit" value="Aiziet" /><br /><br />
      </form>
    </div>
    <a href="index.html">Ej uz sākumu</a><br /><br />
    <a href="/">Atpakaļ</a>
  </body>
</html>
